<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="format-detection"content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>了解CIMA</title>
  <link rel="stylesheet" href="../../static/css/reset.css"/>
  <link rel="stylesheet" href="../../static/css/cima_inside.css"/>
</head>
<body>

<!-- Load Begin -->
<div id="load" class="load">
  <div class="spinner">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
</div>
<!-- Load End -->

<!-- Right Nav Begin -->
<div class="all-nav" id="allNav">
  <div class="line-bottom">
    <h1 class="logo">财萃网</h1>
  </div>
  <div class="content">
    <div><a href="javascript:;" title="ACCA">ACCA</a></div>
    <div><a href="javascript:;" title="CMA">CMA</a></div>
    <div><a href="javascript:;" title="CFA">CFA</a></div>
    <div><a href="javascript:;" title="CIMA">CIMA</a></div>
    <div><a href="javascript:;" title="FRM">FRM</a></div>
    <div><a href="javascript:;" title="会计从业"></a></div>
    <div><a href="javascript:;" title="公开课"></a></div>
    <div><a href="javascript:;" title="咨询"></a></div>
    <div><a href="javascript:;" title="问答"></a></div>
  </div>
 </div>
 <div class="forbid-on" id="forbidOn"></div>
<!-- Right Nav End -->


<!-- Page Wrap Begin-->
<main class="page-wrap" id="pageWrap">

<!-- Banner Begin -->
  <header class="header" id="header">
   <a href="javascript:;" class="phone-down" id="phoneDown"></a>
     <h1 class="logo show-logo-text">了解CIMA</h1>
     <a href="javascript:;" id="openNav" class="on-nav">
       <div id="empty1"></div>
       <div id="empty2"></div>
       <div id="empty3"></div>
     </a>
  </header>
  <!-- Banner End -->

  <!-- Else Link Begin -->
  <nav class="else-link acca-else-link" id="targetNav" data-num="4">
    <a href="#" title="职业前景">职业前景</a>
    <a href="#" title="在线课程">在线课程</a>
    <a href="#" title="面授课程">面授课程</a>
    <a href="#" title="公开课">公开课</a>
  </nav>
  <!-- Else Link End -->

  <!-- Fixed Nav Begin -->
   <nav class="fixed-nav hide" id="fixedNav">
    <a href="#" title="职业前景" class="active">职业前景</a>
    <a href="#" title="在线课程">在线课程</a>
    <a href="#" title="面授课程">面授课程</a>
    <a href="#" title="公开课">公开课</a>
   </nav>
  <!-- Fixed Nav End -->

  <!-- CIMA Major Begin -->
  <article class="acca-introduce acca-teacher acca-major cma-major">
    <h1>CIMA-全国管理会计最权威认证</h1>
    <div class="pic2">
      <img src="../../static/img/cma_inside_big1.jpg" alt="别犹豫，在不学习就毕业啦">
    </div>
    <h6>40年历史，国内5000名持证者，最快4个月通过</h6>
    <p>CMA (Certified Management Accountant)美国注册管理会计师，是美国注册管理会计师协会IMA1972年创立的，与AICPA、CFA并称世界财经领域三大黄金证书，在全球范围内被企业财务高管所认可。是唯一被中国政府官方引入的财务管理认证，并且由国务院国资委在中央企业全面推广和认证。</p>
  </article>
  <!-- CIMA Major End -->

  <!-- CIMA England Begin -->
  <article class="acca-introduce acca-england cima-reset-england">
    <h1>CIMA-特许管理会计师公会</h1>
    <section>
      <h3>基础课程</h3>
      <ul>
        <li class="england-li">
          <span>C01</span>
          <h3>管理会计基础</h3>
        </li>
        <li class="england-li">
          <span>C02</span>
           <h3>财务会计基础</h3>
        </li>
        <li class="england-li">
          <span>C03</span>
           <h3>商业数学基础</h3>
        </li>
        <li class="england-li">
          <span>C04</span>
           <h3>商业经济基础</h3>
        </li>
        <li class="england-li">
          <span>C05</span>
           <h3>道德、公司治理与商法基础</h3>
        </li>
        <li class="england-li acca-special">
          <aside>授予CIMA商业会计证书</aside>
        </li>
      </ul>
    </section>

    <section>
      <h3>运营阶段</h3>
      <ul>
        <li class="england-li">
          <span>Paper E1</span>
           <h3>企业运营</h3>
        </li>
        <li class="england-li">
          <span>Paper P1</span>
          <h3>绩效运营</h3>
        </li>
        <li class="england-li">
          <span>Paper F1</span>
           <h3>财务运营</h3>
        </li>
        <li class="england-li">
           <span>案例分析考试</span>
           <h3>运营阶段</h3>
        </li>
        <li class="england-li acca-special">
          <aside>授予CIMA管理会计文凭</aside>
        </li>
      </ul>
    </section>

    <section>
      <h3>管理阶段</h3>
      <ul>
        <li class="england-li">
          <span>Paper E2</span>
           <h3>企业运营</h3>
        </li>
        <li class="england-li">
          <span>Paper P2</span>
          <h3>绩效运营</h3>
        </li>
        <li class="england-li">
          <span>Paper F2</span>
           <h3>财务运营</h3>
        </li>
        <li class="england-li">
           <span>案例分析考试</span>
           <h3>管理阶段</h3>
        </li>
        <li class="england-li acca-special">
          <aside>授予CIMA管理会计高级文凭</aside>
        </li>
      </ul>
    </section>

    <section>
      <h3>战略阶段</h3>
      <ul>
        <li class="england-li">
          <span>Paper E3</span>
           <h3>企业运营</h3>
        </li>
        <li class="england-li">
          <span>Paper P3</span>
          <h3>绩效运营</h3>
        </li>
        <li class="england-li">
          <span>Paper F3</span>
           <h3>财务运营</h3>
        </li>
        <li class="england-li">
           <span>案例分析考试</span>
           <h3>战略阶段</h3>
        </li>
      </ul>
    </section>

    <section>
      <h3>职业能力阶段</h3>
      <ul>
        <li class="england-li">
          <span>Part - A 工作经验</span>
           <h3>管理会计职业能力考试</h3>
        </li>
        <li class="england-li">
          <span>Part - B 案例分析</span>
          <h3>管理会计职业能力考试</h3>
        </li>
       <li class="england-li acca-special">
          <aside>授予CIMA特许管理会计师公会会员</aside>
        </li>
      </ul>
    </section>


  </article>
  <!-- CIMA England End -->

</main>
<!-- Page Wrap End-->

<script src="../../static/lib/method.js" type="text/javascript"></script>
<script src="../../static/lib/init.js" type="text/javascript"></script>
<script src="../../static/js/cima_inside.js" type="text/javascript"></script>
</body>
</html>
