/**
 * @update:    2016.07.05;
 */
/**
 * reset
 */
div, section, a, ul, li, div {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Article One
 */
.article-one section {
  background-color: #fff;
  border-color: #ECECEC;
  padding: .3rem .2rem; }
  .article-one section:nth-of-type(1) {
    padding: 0;
    color: #333;
    font-size: .24rem; }
    .article-one section:nth-of-type(1) h1 {
      padding: .3rem .2rem;
      border-bottom: 1px solid #eee; }
  .article-one section:nth-of-type(2) {
    padding: .2rem;
    color: #999;
    font-size: .2rem;
    line-height: .35rem; }
  .article-one section:nth-of-type(3) h1 {
    font-size: .24rem;
    color: #333;
    margin-bottom: .2rem; }
  .article-one section:nth-of-type(3) p {
    font-size: .2rem;
    color: #444;
    line-height: .45rem; }

/**
 * Recommend Article
 */
.recommend-article {
  background-color: #fff;
  margin-top: .2rem; }
  .recommend-article h1 {
    padding: .25rem;
    color: #f00;
    font-size: .24rem;
    border-bottom: 1px solid #eee; }
  .recommend-article ul {
    padding: .25rem; }
    .recommend-article ul li {
      position: relative;
      font-size: .2rem;
      margin-bottom: .5rem;
      text-indent: .2rem; }
      .recommend-article ul li:after {
        content: '';
        display: block;
        width: .07rem;
        height: .07rem;
        background-color: #D8D8D8;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -.035rem;
        -moz-border-radius: 100%;
        border-radius: 100%; }
      .recommend-article ul li a {
        color: #666; }
      .recommend-article ul li:last-of-type {
        margin-bottom: 0; }
