doctype html
html
 head
  meta(charset='utf-8')
  meta(name='viewport',content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
  title 活动
  style(type="text/css")
   | body,html,img{margin:0;padding:0;} header,main,footer{display:block;} .main,.foot,.head{ position: relative;} .font0{font-size:0;position:absolute;z-index: -1;left: -9999px;}
 body
  header.head
   img(src='images/banner.jpg',width='100%')
  main.main
   article.font0
    h1 一、ACCA考生优惠政策详解：
     p A：报读中博·财萃ACCA任意班型单科网课均享8折优惠；B：一次性报读中博·财萃ACCA任意班型网课6科及以上，享受6.18折优惠。并附赠价值618元的盛夏嗨课礼包一份。C：1.一次性报读ACCA精英班（面授）14科目，可享受1000元助学金学费减免;2.一次性报读ACCA精英班（面授）9科及以上，可享受600元助学金学费减免;3.一次性报读ACCA精英班（面授）5科及以上，可享受200元助学金学费减免;备注：一次性报读任意班型6科以上ACCA课程，额外赠送以下课程及优惠：1：限时赠送价值980元的财务英语网络课程。2：限时赠送价值495元的《会计从业资格》网络课程。3：限时赠送中博诚通独家OBU网络课程1000元优惠资格。
   article.font0
    h1 二、CMA考生优惠政策详解：
     p A：报读中博·财萃CMA任意班型单科网课均享8折优惠；B：一次性报读中博·财萃CMA任意全科网课班型享受6.18折优惠。并附赠价值618元的盛夏嗨课礼包一份。C：一次性报读中博诚通CMA任意全科面授班型，可享受600元助学金学费减免；备注：一次性报读任意CMA标准/精英课程，额外赠送以下课程及优惠：1：限时赠送价值980元的财务英语网络课程。2：限时赠送价值495元的《会计从业资格》网络课程。3：限时赠送IMA管理会计师协会官方指定中英文双语正版教材及题库。4：限时赠送考前精讲及职业规划专家在线直播课程。
   article.font0
    h1 三、CFA/FRM考生优惠政策详解：
     p A：报读中博·财萃CFA/FRM任意班型单科网课均享8折优惠；B：一次性报读中博·财萃CFA/FRM或CFA+FRM双证班任意班型全科网课享受6.18折优惠。并附赠价值618元的盛夏嗨课礼包一份。C:一次性报读CFA+FRM双证精英班，可享受2500元助学金或Apple  mini 4一台一次性报读CFA精英班LevelⅠ~LevelⅢ全程班，可享受2000元助学金；一次性报读CFA精英班或FRM精英班任意2个level，可享受1200元助学金学费减免；一次性报读CFA精英班或FRM精英班任意1个level，可享受400元助学金学费减免；备注：一次性报读任意2个level CFA/FRM标准/保过课程，额外赠送以下课程及优惠：1：限时赠送价值980元的财务英语网络课程。2：限时赠送价值495元的《会计从业资格》网络课程。3：限时赠送中博金汇独家研发讲义（一套）《金融核心词汇》一本。4：限时赠送配套学习资料（一套），（包括：练习题、模考题、考纲等）。
   img(src='images/details.jpg',width='100%')
  footer.foot
   article.font0 报名方式：请咨询 400-626-1716或扫描下方二维码
   ul.font0 我们的优势
    li 10项官方授权ACCA黄金级培训机构
    li 36所官方授权ACCA机考中心
    li 49家遍布全国ACCA直属分部
    li 148所合作大学院校
    li 50余个合作企业
    li 48000人次累计培训学员
    li 230名全职精英讲师
    li 1080000小时授课时长
   img(src="images/bottom.jpg",width='100%')


