<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="format-detection"content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>FRM职业前景</title>
  <link rel="stylesheet" href="../../static/css/reset.css"/>
  <link rel="stylesheet" href="../../static/css/frm_prospect.css"/>
</head>
<body>

<!-- Load Begin -->
<div id="load" class="load">
  <div class="spinner">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
</div>
<!-- Load End -->

<!-- Right Nav Begin -->
<div class="all-nav" id="allNav">
  <div class="line-bottom">
    <h1 class="logo">财萃网</h1>
  </div>
  <div class="content">
    <div><a href="javascript:;" title="ACCA">ACCA</a></div>
    <div><a href="javascript:;" title="CMA">CMA</a></div>
    <div><a href="javascript:;" title="CFA">CFA</a></div>
    <div><a href="javascript:;" title="CIMA">CIMA</a></div>
    <div><a href="javascript:;" title="FRM">FRM</a></div>
    <div><a href="javascript:;" title="会计从业"></a></div>
    <div><a href="javascript:;" title="公开课"></a></div>
    <div><a href="javascript:;" title="咨询"></a></div>
    <div><a href="javascript:;" title="问答"></a></div>
  </div>
 </div>
 <div class="forbid-on" id="forbidOn"></div>
<!-- Right Nav End -->


<!-- Page Wrap Begin-->
<main class="page-wrap" id="pageWrap">

<!-- Banner Begin -->
  <header class="header" id="header">
   <a href="javascript:;" class="phone-down" id="phoneDown"></a>
     <h1 class="logo show-logo-text">FRM职业前景</h1>
     <a href="javascript:;" id="openNav" class="on-nav">
       <div id="empty1"></div>
       <div id="empty2"></div>
       <div id="empty3"></div>
     </a>
  </header>
  <!-- Banner End -->

  <!-- Else Link Begin -->
  <nav class="else-link acca-else-link" id="targetNav" data-num="4">
    <a href="#" title="职业前景">职业前景</a>
    <a href="#" title="在线课程">在线课程</a>
    <a href="#" title="面授课程">面授课程</a>
    <a href="#" title="公开课">公开课</a>
  </nav>
  <!-- Else Link End -->

  <!-- Fixed Nav Begin -->
   <nav class="fixed-nav hide" id="fixedNav">
    <a href="#" title="职业前景" class="active">职业前景</a>
    <a href="#" title="在线课程">在线课程</a>
    <a href="#" title="面授课程">面授课程</a>
    <a href="#" title="公开课">公开课</a>
   </nav>
  <!-- Fixed Nav End -->

  <!-- FRM Money Begin -->
  <article class="acca-introduce acca-teacher">
    <h1>FRM七大优势</h1>
    <p>随着我国金融体制改革的逐步深化和国民经济开放性逐渐上升，越来越多的国内外公司成为我国金融市场参与主体。过去强调政府在监管风险的重要性；现在政府简政放权，让各个经营主体逐步实行自行管理和面对金融市场的各类风险。只有全面分析收益和风险，权衡利弊，考虑得失，才能在日益复杂和全球化的金融市场竞争中立于不败之地。现代的金融业，已从过去收益追逐竞赛演化成风险定价竞争！</p>
    <ul>
      <li>获取职场竞争优势</li>
      <li>中国多个城市重点引入人才类型</li>
      <li>高端人脉助力职业发展</li>
      <li>融入顶尖金融精英群体</li>
      <li>风控领域全球顶级资格认证</li>
      <li>掌握最新金融知识及风控理念</li>
      <li>囊括全球优秀风控经理和顶尖分析师的精英团队</li>
    </ul>
  </article>
  <!-- FRM Money End -->

  <!-- FRM Employment Begin -->
  <article class="acca-introduce acca-teacher frm-employment">
    <h1>FRM全球前20大雇主</h1>
    <p>
      FRM全球前20的雇主基本上是国际顶级的商业银行、投资银行、四大会计师事务所<br/>
      The top 20 companies employing the most Certified FRMs are:<br/>
      ICBC 中国工商银行<br/>
      HSBC 汇丰银行<br/>
      Bank of China 中国银行<br/>
      Citi 花旗集团<br/>
      KPMG 毕马威（国际四大会计师事务所之一）<br/>
      Deloitte 德勤（国际四大会计师事务所之一）<br/>
      Deutsche Bank 德意志银行<br/>
      Agricultural Bank of China 中国农业银行<br/>
      Ernst & Young 安永（国际四大会计师事务所之一）<br/>
      Samsung 三星<br/>
      ING （注：荷兰顶级金融集团）<br/>
      Standard Chartered 渣打银行<br/>
      Credit Suisse 瑞士信贷<br/>
      JP Morgan 摩根大通<br/>
      Barclays 巴克莱银行<br/>
      BBVA 毕尔巴鄂比斯开银行（西班牙顶级银行之一）<br/>
      ICICI 印度工业信贷投资银行（印度顶级银行之一）<br/>
      Bank of Communications 交通银行<br/>
      UBS 瑞银集团<br/>
      PwC 普华永道（国际四大会计师事务所之一）
    </p>
  </article>
  <!-- FRM Employment End -->

</main>
<!-- Page Wrap End-->

<script src="../../static/lib/method.js" type="text/javascript"></script>
<script src="../../static/lib/init.js" type="text/javascript"></script>
<script src="../../static/js/frm_prospect.js" type="text/javascript"></script>
</body>
</html>
