@charset "utf-8";

/**
 * @update:    2016.07.11;
 */

@import "comm";

/**
 * 第一栏导航
 */
.acca-else-link{
  margin-top: 0;
  a{
    line-height: 2.3rem; font-size: .22rem;
  }
  a:nth-of-type(1):before{
    width: .63rem; height: .58rem;
    transform: translate3d(-50%,.29rem,0);
    @include backPic("acca_banner_icon11.png",.63rem,.58rem,center,center,rgba(0,0,0,1));
  }
  a:nth-of-type(2):before{
    width: .54rem; height: .63rem;
    transform: translate3d(-50%,.22rem,0);
    @include backPic("acca_banner_icon22.png",.54rem,.63rem,center,center,rgba(0,0,0,1));
  }
  a:nth-of-type(3):before{
    width: .65rem; height: .52rem;
    transform: translate3d(-50%,.32rem,0);
    @include backPic("acca_banner_icon33.png",.65rem,.52rem,center,center,rgba(0,0,0,1));
  }
  a:nth-of-type(4):before{
    width: .41rem; height: .64rem;
    transform: translate3d(-50%,.2rem,0);
    @include backPic("acca_banner_icon44.png",.41rem,.64rem,center,center,rgba(0,0,0,1));
  }
}

/**
 * Else Css
 */
.acca-introduce{

  background-color: #fff;
  @include borderTop(#E9E9E9,1px);
  @include borderBottom(#E9E9E9,1px);

  > h1{
    @include fontColor(.24rem,#333);
    @include borderLeft(#4598DC,3px);
    text-indent: .12rem;
    transform: translate3d(0,.2rem,0);
    margin: 0 0 0 .3rem;
  }

}


.acca-teacher{

  position: relative;
  height: auto;
  margin-top: .2rem;

  h1{
    margin-bottom: .4rem;
  }
  p{
    padding: .2rem;
    line-height: .3rem;
    @include fontColor(.22rem,#787878);
    @include borderTop(#E9E9E9,1px);
  }

  .pic{
    text-align: center;
    margin-bottom: .1rem;
  }

}

.page-wrap{
  padding-bottom: .8rem;
}

/**
 * CMA Certificate
 */
.cma-certificate{

  ul{
    @include marginPadding(.4rem 0 0,0 .2rem);
    @include borderTop(#E9E9E9,1px);
    li{

      position: relative;
      text-indent: .89rem;
      height: .7rem;
      @include marginPadding(.3rem 0 0,0);

      hgroup{
        padding-top: .05rem;
      }
      h1{
        @include fontColor(.24rem,#333);
        @include marginPadding(0 0 .05rem,0);
      }
      h2{
        @include fontColor(.2rem,#666);
      }
      &:last-of-type{
        margin-bottom: .4rem;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0; top:0;
        @include widthHeight(.7rem,.7rem);
        border-radius: .15rem;
        background-color: #F1F1F1;
      }

    }
  }

}
