<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="format-detection"content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>公开课</title>
  <link rel="stylesheet" href="../static/css/reset.css"/>
  <link rel="stylesheet" href="../static/css/open_class.css"/>
</head>
<body>

<!-- Load Begin -->
<div id="load" class="load">
  <div class="spinner">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
</div>
<!-- Load End -->

<!-- Right Nav Begin -->
<div class="all-nav" id="allNav">
  <div class="line-bottom">
    <h1 class="logo">财萃网</h1>
  </div>
  <div class="content">
    <div><a href="javascript:;" title="ACCA">ACCA</a></div>
    <div><a href="javascript:;" title="CMA">CMA</a></div>
    <div><a href="javascript:;" title="CFA">CFA</a></div>
    <div><a href="javascript:;" title="CIMA">CIMA</a></div>
    <div><a href="javascript:;" title="FRM">FRM</a></div>
    <div><a href="javascript:;" title="会计从业"></a></div>
    <div><a href="javascript:;" title="公开课"></a></div>
    <div><a href="javascript:;" title="咨询"></a></div>
    <div><a href="javascript:;" title="问答"></a></div>
  </div>
 </div>
 <div class="forbid-on" id="forbidOn"></div>
<!-- Right Nav End -->


<!-- Page Wrap Begin-->
<main class="page-wrap" id="pageWrap">

<!-- Banner Begin -->
  <header class="header" id="header">
   <a href="javascript:;" class="phone-down" id="phoneDown"></a>
     <h1 class="logo show-logo-text">公开课</h1>
     <a href="javascript:;" id="openNav" class="on-nav">
       <div id="empty1"></div>
       <div id="empty2"></div>
       <div id="empty3"></div>
     </a>
  </header>
  <!-- Banner End -->
  <section class="direct-seeding">
    <header class="top">精彩直播</header>

    <div>
      <div class="direct-seeding-time">
        <a href="javascript:;" class="active">8月15日</a>
        <a href="javascript:;">8月19日</a>
      </div>
      <div class="direct-seeding-details" id="directSeedingDetails">
         <!-- List Begin -->
         <section class="list active">
          <h1>公开课名称，我是这样征服CMA</h1>
          <div class="info">
            <div class="fl head-img"></div>
            <div>
              <span>CMA</span>
              <span>8月15日 18:30</span>
              <span>讲师：王淑玲</span>
              <a href="javascript:;">报名</a>
            </div>
          </div>
          <p>适合人群：CMA 学员，参加7月中文考试的学员</p>
          <p>内容：本次直播课程针对CMA7月份考试做出相关备考解析，帮助考生巩固CMA核心考点，并梳理相关知识点，对于共性难点会进行现场案例答疑。</p>
          <p alt="空占位，请勿删除">&nbsp;</p>
         </section>
         <!-- List End -->
         <!-- List Begin -->
         <section class="list">
          <h1>公开课名称，我是这样征服CMA</h1>
          <div class="info">
            <div class="fl head-img"></div>
            <div>
              <span>CMA</span>
              <span>8月19日 18:30</span>
              <span>讲师：王淑玲</span>
              <a href="javascript:;">报名</a>
            </div>
          </div>
          <p>适合人群：CMA 学员，参加7月中文考试的学员</p>
          <p>内容：本次直播课程针对CMA7月份考试做出相关备考解析，帮助考生巩固CMA核心考点，并梳理相关知识点，对于共性难点会进行现场案例答疑。</p>
          <p alt="空占位，请勿删除">&nbsp;</p>
         </section>
         <!-- List End -->
      </div>
    </div>
  </section>

  <!-- Old Begin -->
  <section class="direct-seeding-details old-curse">
  <header class="top">往期回顾</header>
    <!-- List Begin -->
     <a class="list">
      <div class="info">
        <div class="fl head-img"></div>
        <div>
          <span>公开课名称，我是这样征服CMA</span>
          <span>CMA</span>
          <span>8月19日 18:30</span>
        </div>
      </div>
      <p>适合人群：CMA 学员，参加7月中文考试的学员</p>
      <p>内容：本次直播课程针对CMA7月份考试做出相关备考解析，帮助考生巩固CMA核心考点，并梳理相关知识点，对于共性难点会进行现场案例答疑。</p>
     </a>
     <!-- List End -->
     <!-- List Begin -->
     <a class="list">
      <div class="info">
        <div class="fl head-img"></div>
        <div>
          <span>公开课名称，我是这样征服CMA</span>
          <span>CMA</span>
          <span>8月19日 18:30</span>
        </div>
      </div>
      <p>适合人群：CMA 学员，参加7月中文考试的学员</p>
      <p>内容：本次直播课程针对CMA7月份考试做出相关备考解析，帮助考生巩固CMA核心考点，并梳理相关知识点，对于共性难点会进行现场案例答疑。</p>
     </a>
     <!-- List End -->
  </section>
  <!-- Old End -->
</main>
<!-- Page Wrap End-->
<script src="../static/lib/method.js" type="text/javascript"></script>
<script src="../static/lib/init.js" type="text/javascript"></script>
<script src="../static/js/open_class.js" type="text/javascript"></script>
</body>
</html>
