<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta name="format-detection"content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>咨询详情页</title>
  <link rel="stylesheet" href="../static/css/reset.css"/>
  <link rel="stylesheet" href="../static/css/u_agreement.css"/>
</head>
<body>

<!-- Load Begin -->
<div id="load" class="load">
  <div class="spinner">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
</div>
<!-- Load End -->

<!-- Right Nav Begin -->
<div class="all-nav" id="allNav">
  <div class="line-bottom">
    <h1 class="logo">财萃网</h1>
  </div>
  <div class="content">
    <div><a href="javascript:;" title="ACCA">ACCA</a></div>
    <div><a href="javascript:;" title="CMA">CMA</a></div>
    <div><a href="javascript:;" title="CFA">CFA</a></div>
    <div><a href="javascript:;" title="CIMA">CIMA</a></div>
    <div><a href="javascript:;" title="FRM">FRM</a></div>
    <div><a href="javascript:;" title="会计从业"></a></div>
    <div><a href="javascript:;" title="公开课"></a></div>
    <div><a href="javascript:;" title="咨询"></a></div>
    <div><a href="javascript:;" title="问答"></a></div>
  </div>
 </div>
 <div class="forbid-on" id="forbidOn"></div>
<!-- Right Nav End -->

<!-- Page Wrap Begin-->
<main class="page-wrap" id="pageWrap">

<!-- Banner Begin -->
  <header class="header" id="header">
   <a href="javascript:;" class="phone-down" id="phoneDown"></a>
     <h1 class="logo show-logo-text">U+课程服务条款</h1>
     <a href="javascript:;" id="openNav" class="on-nav">
       <div id="empty1"></div>
       <div id="empty2"></div>
       <div id="empty3"></div>
     </a>
  </header>
  <!-- Banner End -->

  <!-- Article Begin -->
  <article class="article-one">

   <section>
     <h1>1．U+课程服务的确认和接纳</h1>
     <p>
      U+课程服务所涉及到的课程产品的知识产权归财萃网所有。U+课程所提供的服务必须按照其发布的服务条款和操作规则严格执行。<br>
      本服务条款的效力范围涉及U+课程所有正在提供的产品和服务，用户在享受U+任何单项服务时，应当受本服务条款的约束。用户成功注册成为财萃网用户后，即表示用户与财萃网已达成协议，自愿接受本服务条款的所有内容。
    </p>
   </section>

   <section>
     <h1>2. 信息安全性</h1>
     <p>
      选购财萃网课程或免费试听财萃网课程，需注册成为财萃网注册用户，在注册过程中需填写包含但不限于用户姓名、身份证号码、电话号码、电子邮件以及住址等个人信息。保护用户个人隐私是财萃网的一项基本政策。财萃网一定不会公开、修改或透露用户的注册资料及保存在各项服务中的非公开内容。
    </p>
   </section>

   <section>
     <h1>3. 服务条款领域</h1>
     <p>
      此条款涉及U+课程所有提供的产品和服务，U+课程服务所提供的保障、价格、服务标准等不适用所有未标明U+字样的产品和服务。
    </p>
   </section>

   <section>
     <h1>4. 服务条款的修改</h1>
     <p>
      财萃网有权在必要时修改本服务条款以及各单项服务的相关条款。用户在享受U+课程服务时，应当及时查阅了解修改的内容，并自觉遵守本服务条款以及该单项服务的相关条款。
    </p>
   </section>

   <section>
     <h1>5. U+课程购买及生效</h1>
     <p>
      5.1 财萃网用户可通过两种方式购买财萃网课程<br>
      a) 财萃网线上直接购买<br>
      √线上选定财萃网在线课程<br>
      √确认订单并进行订单支付<br>
      √完成课程购买流程<br>
      b) 财萃网战略合作伙伴处线下购买<br>
      √在合作伙伴处选择课程套餐<br>
      √完成课程支付<br>
      √合作伙伴提交学员身份信息和课程购买订单<br>
      √完成课程购买<br>
      5.2 课程生效<br>
      用户完成课程购买，财萃网线上对应课程即对该用户生效
    </p>
   </section>

   <section>
     <h1>6. 课程有效期及课程激活</h1>
     <p>
      6.1 U+课程自购买之日起，终身有效。<br>
      6.2 U+课程均包含一门或多门具体课程，所包含具体课程，需用户激活后方可进入学习阶段，具体课程有效期为自用户激活课程起6个月有效。<br>
      6.3 如需重复学习U+课程内具体课程，可通过财萃网提供的申请渠道，提交续期申请和必要证明材料。<br>
      6.4 未激活具体课程无激活限定期限。
    </p>
   </section>

   <section>
     <h1>7. 保障</h1>
     <p>
    7.1 更新保障<br>
    财萃网U+课程所包含具体课程，如存在更新和修改，用户享受课程最新版的所有学习服务。
    </p>
   </section>

  </article>
  <!-- Article End -->

</main>
<!-- Page Wrap End-->
<script src="../static/lib/method.js" type="text/javascript"></script>
<script src="../static/lib/init.js" type="text/javascript"></script>
<script src="../static/js/u_agreement.js" type="text/javascript"></script>
</body>
</html>
